<section class="h-[65vh] flex items-center justify-center overflow-hidden mb-4">
    <div
        class="absolute inset-0 mb-2 bg-linear-to-r from-background-dark/80 via-background-dark/40 to-transparent z-10"
    >
        <img
            alt="Mosque Interior"
            class="w-full h-full object-cover"
            data-alt="Beautiful modern mosque architecture with golden hour lighting"
            src="https://lh3.googleusercontent.com/aida-public/AB6AXuCBvJZINlkC449UJVSjywlnLQVnDP-gQHQjzUgaM72CT-9rqSKpEvkUi6h9CIQtswDrH3F5oJgYk7Z4k0fVcml_fVnWEnoDSTMsqelDPpprSbjSQh-l7tRUc4AKATzEfIyw4FafNmlUxEiDhjKsNQ-Sm2E4bzcYxjCM2JwRPISZ_yAbhMV4EOeO74SsWtkP4WHhEkhslKs1F9rXtvL4Dilc424hvPkM0qY_sACbeWj57k50eZbz3LEN8vM-2bRoOct4HEVFRNVPpQB5"
        />
    </div>
    <div class="z-20 max-w-7xl mx-auto text-left w-full px-2">
        <div class="max-w-2xl">
            <span
                class="inline-block py-1 px-3 bg-green-400/40 text-white font-bold text-xs tracking-widest uppercase mb-6"
                >Established 1969</span
            >
            <h1 class="text-4xl font-black text-white leading-tight mb-6">
                Islamic Association of North Texas
            </h1>
            <p class="text-lg text-slate-200 mb-10 leading-relaxed">
                Faith. Community. Worship.
            </p>
            <div class="flex flex-col sm:flex-row gap-4">
                <button
                    class="bg-primary/50 backdrop-blur-sm text-white px-8 py-4 font-bold text-lg hover:shadow-[0_0_20px_rgba(17,212,131,0.5)] transition-all"
                >
                    <a href="/donate">Donate</a>
                </button>
                <button
                    class="bg-white/10 backdrop-blur-sm border border-white/20 text-white px-8 py-4 font-bold text-lg hover:bg-white/20 transition-all"
                >
                    <a href="/services">Our Services</a>
                </button>
            </div>
        </div>
    </div>
</section>
