<nav class="sticky top-0 z-50 bg-white backdrop-blur-md">
    <div class="max-w-7xl mx-auto px-2">
        <div class="flex justify-between items-center h-20">
            <div class="nav-left">
                <a href="/" class="flex items-center gap-3">
                    <div
                        class="bg-green-400 text-background-dark p-2 rounded-lg"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            ><path
                                fill="#f5f5f5"
                                d="M17 9h-1.03c.14-1.81-.69-3.58-2.29-4.68l-3.12-2.14c-.34-.23-.79-.23-1.13 0L6.31 4.32C4.71 5.42 3.88 7.2 4.02 9H2.99c-.55 0-1 .45-1 1v2h15v1H2v8c0 .55.45 1 1 1h2v-4c0-2 1.5-3 1.5-3S8 16 8 18v4h4v-4c0-2 1.5-3 1.5-3s1.5 1 1.5 3v4h6c.55 0 1-.45 1-1V7h-5z"
                            ></path><path
                                fill="#DF8D69"
                                d="M19.5 2A2.5 2.5 0 0 0 17 4.5V6h5V4.5A2.5 2.5 0 0 0 19.5 2"
                            ></path></svg
                        >
                    </div>
                    <span class="text-xl font-bold tracking-tight">IANT</span>
                </a>
            </div>
            <div class="hidden md:flex items-center gap-10 nav-right">
                <a
                    class="text-sm font-semibold hover:text-primary transition-colors"
                    href="/services">Services</a
                >
                <a
                    class="text-sm font-semibold hover:text-primary transition-colors"
                    href="/ramadan">Ramadan</a
                >
                <a
                    class="text-sm font-semibold hover:text-primary transition-colors"
                    href="/about-us">About Us</a
                >
                <a
                    class="text-sm font-semibold hover:text-primary transition-colors"
                    href="/people">People</a
                >
                <button
                    class="bg-green-400/80 hover:bg-green-400/60 text-background-dark px-6 py-2.5 rounded-full font-bold text-sm transition-all transform hover:scale-105"
                >
                    <a href="/donate">Donate</a>
                </button>
            </div>
            <div class="md:hidden">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="36"
                    height="36"
                    viewBox="0 0 24 24"
                    ><path
                        fill="#50b95b"
                        d="M3 18h18v-2H3zm0-5h18v-2H3zm0-7v2h18V6z"></path></svg
                >
            </div>
        </div>
    </div>
</nav>
